.filters li {
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;
}
.filters li:hover {
  color: darkgray;
}
.filters .active {
  color: blue;
}
.input {
  border-radius: 12px;
  width: 77%;
}
.btn {
  border-radius: 12px;
}
.selected {
  color: darkgray;
}
